/*responsive web design practice file*/



/**/
html,
body {


	color: #EEE;
	color: rgba(255, 255, 255, 0.85);
	font-family: arial, helvetica, sans-serif;	

	padding: 2%;
	margin: 0;
	/*text-shadow: 0px 2px 2px #051126;*/
}

a,  a:visited {
	color: #FFF;
}

/**/
h1,h2,h3,h4,h5,h6 {
	color: rgba(255, 255, 255, 0.95);
}
h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1em;	
}

ul {
}

img {
	max-width: 100%;
}

footer {
	font-size: 0.8em;
}

/**/

nav ul {
	padding-left: 0;
}
nav li {
	display: inline-block;
}
nav a {
	display: inline-block;
	margin: 5px auto;
	text-align: center;

}


/**/
.respoBox {
	box-sizing: border-box;

	background-color: rgb(10,36,83); /*#0a2453*/
	background-color: rgba(0, 0, 0, 0.35);

	padding: 5%;
	margin: 2.5% auto;
	border-radius: 12px;
}

.pageWrapper {
	padding: 3%;
	padding-bottom: 4%;

}

.pageHeaderTitle {
	margin-top: 0;
	margin-bottom: 12px;
}
.mainArticleTitle {
	margin-top: 0;
}

/**/

/* small */
@media screen {

	body {
		background-color: #e61313;
	}

	nav li {
		width:100%;
	}
	nav a {
		width: 100%;
	}

}


/**/

/*Medium*/
@media screen and (min-width: 480px) {
	body {
		background-color: #ebac15;
		padding: 1%;
	}
	.respoBox {
		padding: 2%;
		margin: 1.5% auto;
	}
}
.pageWrapper {
	padding: 2%;
	padding-bottom: 3%;

}




/**/

/*Large*/
@media screen and (min-width: 768px) {
	body {
		background-color: #7feb15;
	}
	.pageWrapper {
		display: flex;
	}
	.respoBox {
		margin: 1.5% auto;
	
	}
	header {
		flex: 3;
	}
	article {
		flex: 2;
	}
	aside {
		flex: 1;
	}
	footer {
		flex: 3;
	}
}


/**/

/*Maximum*/
@media screen and (min-width: 1024px) {
	body {
		background-color: #1561eb;
	}
}


